<%= render  "layouts/nav" %>

<div class="tabela">
  <table class="tableex">
    <thead>
      <tr class="tablehd">
        <th>Nome</th>
        <th>Email</th>
        <th>Data</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="dadosformat">
        <% @users.each do |user| %>
        <tr class="tablebd todostds">
            <td>
            <% if user.admin == true %>
              <span class="isadmin">admin</span>
            <% end %>
            <%= user.name %> </td>
            <td><%= user.email %> </td>
            <td> <%= user.created_at.strftime("%d/%m/%Y") %></td>
            <td class="editbuttom"><%= link_to  "editar", edit_user_password_path(user) %></td>
            <td class="excluirbuttom"><%= link_to 'excluir', registration_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
<%= render 'layouts/footer' %>