<%= render 'layouts/nav' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:"container perfil_form", method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nome</label>
            <%= f.text_field :name, autofocus: true, class:"form-control", id:"input_name" %>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <%= f.email_field :email, autocomplete: "email", class: "form-control", id: "input_name" %>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Nova senha (deixe em branco caso não queira alterar)</label>
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"input_new_password" %>
        </div>
      
        <div class="form-group col-md-6">
                <label for="inputPassword4">Senha atual, por questão de segurança </label>
                <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", id:"input_old_password" %>
            </div>
        </div>
    </div>

    <%= f.submit "atualizar meu perfil", class:"btn button_form" %>
    <% end %>
</form>


<%= render 'layouts/footer' %>