<div class="containerLogin">
    <div class="imageContainer">
        <%= image_tag('login.jpg', class: "dinnerImage") %>
    </div>
    <div class="cadastroCollum">
      <div class="dinnerTitle">dinnerdash</div>

      <div class="formCadastro"> 
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="informationInput">
            <%= f.label :name , 'Nome'%><br />
            <%= f.text_field :name,autofocus: true, class: "inputBox"  %>
          </div>

          <div class="informationInput">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputBox"  %>
          </div>

          <div class="informationInput">
            <%= f.label :password,'Senha' %><br/ >
            <%= f.password_field :password, autocomplete: "new-password",class: "inputBox"  %>
          </div>

          <div class="informationInput">
            <%= f.label :password_confirmation, 'Confirme sua senha' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "inputBox" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" ,class:'submitButtom'%>
          </div>
        <% end %>
      </div>
      <div class="separateLine"></div>
      <div class="loginLink">
          <%= render "devise/shared/links" %>
        
      </div>
    </div>
</div>
