<% session[:cart] ||= [] %>

<div class="containerB">
    <div class="darker">
        <div class="navbarCustom">
            <div class="pagName">dinnerdash</div>
            <div>
                <% if user_signed_in? %>
                <% else %>
                <div><%= link_to "Entrar", new_user_session_path %> <%= link_to  "cadastro", new_user_registration_path %></div>
                <% end %>
            </div>
        </div>
        <div class="pageTitle">
            <div class="titleText">Monte o seu prato</div>
            <h2>Escolha seus acompanhamentos e pratos.</h2>

        </div>
    </div>
</div>


<div class="allCategories">
    <% @meal_categories.each do |categ| %>
    <div class="catName"><%= categ.name %> </div>
        <div class="cardsContainer">
            <% @meals.each do |item| %>
                <% if item.meal_categories_id == categ.id %>
                    <div class="card" style="width: 18rem;">
                        <h3> Imagem aqui </h3>
                        <div class="card-body">
                            <% totaldisp = 1..10 %>
                            <% optionsarray = []%>
                            <% totaldisp.each do |i| %>
                                <%optionsarray.push([i.to_s, i])%>
                            <% end %>
                            <h5 class="card-title"><%= item.name %></h5>
                            <p class="descText"><%= item.description %></p>
                            <p class="priceText">R$ <%=item.price%> por porção</p>
                            <div class="quantText">Quantidade </div>
                            <%= form_tag(additem_path(id: item.id), method: :put) do |f| %>
                                <%= select_tag(:quant, options_for_select(optionsarray), class: "optionSelect") %>
                                <%= hidden_field_tag(:price, item.price.to_s) %>
                                <br>
                                <%= submit_tag("Adicionar", class:"addButtom") %>
                            <% end %>
                            <% #<a href="#" class="btn btn-primary">Go somewhere</a> %>
                            <%#link_to "Adicionar ao carrinho", additem_path(id: item.id), method: :put, class: "btn btn-primary"%> 
                            
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
<div class="sepline"></div>
<br><br><br>
<h1> Finalizou seu Prato? </h1>
<h4> Confira os itens no seu carrinho </h4>
<% totalPrice = 0%>
<% session[:cart].each do |item| %>
    <% cartMeal = @meals.where(id: item["id"]).take %>
    <%= cartMeal.name %>
    <%= item["number"]%>
    <%= item["price"] %>
    <% totalpriceMeal = cartMeal.price.to_f * item["number"].to_f %>
    <%= totalpriceMeal %>
    <% totalPrice += totalpriceMeal %>

    <% totaldisp = (1..item["number"].to_f).to_a %>
    <% totaldisp = totaldisp.reverse %>
    <% optionsarray = []%>
    <% totaldisp.each do |i| %>
        <% optionsarray.push([i.to_s, i]) %>
    <% end %>
    <%= form_tag(removeitem_path(id: cartMeal.id), method: :put) do |f| %>
        <%= select_tag(:quant, options_for_select(optionsarray)) %>
        <%= submit_tag("remover") %>
    <% end %>

    <br>
<%end%>


<h1> Preço total do pedido: <div class="priceText"><%= totalPrice %></div> <h1>

<% if user_signed_in? %>
    <% if session[:cart] == [] %>
        <h5> Coloque itens no carrinho <h5>
    <% else%>
        <h1>Finalizar Pedido </h1>
        <%= link_to  "Finalizar", new_order_path %>
    <%end%>
<% else %>
    <div><%= link_to "entrar com minha conta", new_user_session_path %> <%= link_to  "fazer o meu cadastro", new_user_registration_path %></div>
<%end %>