<div class="tcontainer_perfil">
    <div class="top_navbar container d-flex">
        <div class="mr-auto p-2"><%= link_to "Dinnerdash", root_path , class:"text-light font-weight-bold logo"%></div>
        <% if user_signed_in? %>
            <%if current_user.admin == true %>
                <div class="p-2"><%= link_to  "backoffice", orders_path , class:"text-warning current font-weight-bold"%></div>
            <%end%>
            <div class="p-2"><%= link_to  "Editar perfil",  edit_user_registration_path, class:"text-light font-weight-bold"  %> </div>
            <div class="p-2"><%= link_to  "Sair", destroy_user_session_path, method: :delete,class:"text-light font-weight-bold" %></div>
        <% else %>
        <div class="headerText"><%= link_to "Entrar", new_user_session_path , class:"sessionHeader" %><%= link_to  "cadastro", new_user_registration_path, class:"sessionHeader" %></div>
        <%end%>
    </div>

    <div class="container top_text">
        <h1 class="text-light"> bem vindo, <%= current_user.name %></h1>
        <p class="text-light">Veja seus pedidos.</p>
    </div>
</div>

<div class= "margin_left">
    <div class="catName spaceBottom">Último pedido </div>
    <div class="carrinho">
        <% totalPrice = 0%>
        <% @order.order_meals.each do |item| %>
            <div class="carrinhoCard">
                <% cartMeal = @meals.where(id: item.meal_id).take %>
                <div class="imageAndInf">
                    <div class="paddingr"><%= image_tag url_for(cartMeal.image), class:"carrinhoImageCard"%> </div>
                    <div class="carrinhoInformation">
                        <div class="mealName"><%= cartMeal.name %></div>
                        <div class="infText">Quantidade: <%= item.quantity%></div>
                        <div class="infText">Preço unitário: R$ <%= cartMeal.price %></div>
                        <% totalpriceMeal = cartMeal.price.to_f * item.quantity.to_f %>
                        <div class="infText">Preço total: R$ <%= totalpriceMeal %></div>
                    </div>
                </div>
                <% totalPrice += totalpriceMeal %>

                <% totaldisp = (1..item["number"].to_f).to_a %>
                <% totaldisp = totaldisp.reverse %>
                <% optionsarray = []%>
                <% totaldisp.each do |i| %>
                    <% optionsarray.push([i.to_s, i]) %>
                <% end %>
            </div>
        <%end%>
    </div>
    <div class="sepline"></div>
</div>

<div class= "margin_left">
    <div class ="centralizeTable">
        <div class="catName spaceBottom">Pedidos anteriores </div>
        <div class="tabela">
            <table class="tableex">
                    <thead>
                        <tr class="tablehd">
                            <th>Pedido de nº</th>
                            <th>Status</th>
                            <th>Data</th>
                            <th>Preço Total</th>
                            <th>Detalhes</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="dadosformat">
                        <% @userOrders.each do |item|%>
                            <tr class="tablebd todostds">
                                <td><%= item.id %></td>
                                <% if item.status == 'pendente' %>
                                    <td class="alinharcentro"><div><span class="pedidopendente">pendente</span></div> </td>
                                <% end %>
                                <% if item.status == 'entregue' %>
                                    <td class="alinharcentro"><span class="pedidocancelado">cancelado</span> </td>
                                <% end %>
                                <% if item.status == 'cancelado' %>
                                    <td class="alinharcentro"><span class="pedidoentregue">entregue</span> </td>
                                <% end %>
                                <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                <td>R$ <%= item.price %></td>
                                <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal<%=item.id%>">
                                    ver pedidos anteriores
                                    </button>
                                </td>
                                <div class="modal fade" id="modal<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detalhes das refeições</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="carrinho">
                                                <% totalPrice = 0%>
                                                <% item.order_meals.each do |order_meal| %>
                                                    <div class="carrinhoCard">
                                                        <% cartMeal = @meals.where(id: order_meal.meal_id).take %>
                                                        <div class="imageAndInf">
                                                            <div class="paddingr"><%= image_tag url_for(cartMeal.image), class:"carrinhoImageCard"%> </div>
                                                            <div class="carrinhoInformation">
                                                                <div class="mealName"><%= cartMeal.name %></div>
                                                                <div class="infText">Quantidade: <%= order_meal.quantity%></div>
                                                                <div class="infText">Preço unitário: R$ <%= cartMeal.price %></div>
                                                                <% totalpriceMeal = cartMeal.price.to_f * order_meal.quantity.to_f %>
                                                                <div class="infText">Preço total: R$ <%= totalpriceMeal %></div>
                                                            </div>
                                                        </div>
                                                        <% totalPrice += totalpriceMeal %>

                                                        <% totaldisp = (1..item["number"].to_f).to_a %>
                                                        <% totaldisp = totaldisp.reverse %>
                                                        <% optionsarray = []%>
                                                        <% totaldisp.each do |i| %>
                                                            <% optionsarray.push([i.to_s, i]) %>
                                                        <% end %>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                            </tr>
                        <%end%>
                    </tbody>
            </table>
        </div>
    </div>
</div>