<%= render 'layouts/cartHead' %>

<div class= "margin_left">
    <div class="catName spaceBottom">Último pedido </div>
    <div class="carrinho">
        <% totalPrice = 0%>
        <% @order.order_meals.each do |item| %>
            <div class="carrinhoCard">
                <% cartMeal = @meals.where(id: item.meal_id).take %>
                <div class="imageAndInf">
                    <div class="paddingr"><%= image_tag url_for(cartMeal.image), class:"carrinhoImageCard"%> </div>
                    <div class="carrinhoInformation">
                        <div class="mealName"><%= cartMeal.name %></div>
                        <div class="infText">Quantidade: <%= item.quantity%></div>
                        <div class="infText">Preço unitário: R$ <%= cartMeal.price %></div>
                        <% totalpriceMeal = cartMeal.price.to_f * item.quantity.to_f %>
                        <div class="infText">Preço total: R$ <%= totalpriceMeal %></div>
                    </div>
                </div>
                <% totalPrice += totalpriceMeal %>

                <% totaldisp = (1..item["number"].to_f).to_a %>
                <% totaldisp = totaldisp.reverse %>
                <% optionsarray = []%>
                <% totaldisp.each do |i| %>
                    <% optionsarray.push([i.to_s, i]) %>
                <% end %>
            </div>
        <%end%>
    </div>
    <div class="sepline"></div>
</div>

<div class= "margin_left">
    <div class ="centralizeTable">
        <div class="catName spaceBottom">Pedidos anteriores </div>
        <div class="tabela">
            <table class="tableex">
                    <thead>
                        <tr class="tablehd">
                            <th>Pedido de nº</th>
                            <th>Status</th>
                            <th>Data</th>
                            <th>Preço Total</th>
                            <th>Detalhes</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="dadosformat">
                        <% @userOrders.each do |item|%>
                            <tr class="tablebd todostds">
                                <td><%= item.id %></td>
                                <% if item.status == 'pendente' %>
                                    <td class="alinharcentro"><div><span class="pedidopendente">pendente</span></div> </td>
                                <% end %>
                                <% if item.status == 'entregue' %>
                                    <td class="alinharcentro"><span class="pedidocancelado">cancelado</span> </td>
                                <% end %>
                                <% if item.status == 'cancelado' %>
                                    <td class="alinharcentro"><span class="pedidoentregue">entregue</span> </td>
                                <% end %>
                                <td><%= item.created_at %></td>
                                <td>R$ <%= item.price %></td>
                                <td class="verbuttom"><%= link_to "ver itens pedidos", item %> </td>
                            </tr>
                        <%end%>
                    </tbody>
            </table>
        </div>
    </div>
</div>