<%= render "layouts/nav" %>
<div class="tabela">
        <table class="tableex">
                <thead>
                    <tr class="tablehd">
                        <th>Nome</th>
                        <th>Nº de Refeições</th>
                        <th>Cadastrada em</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="dadosformat">
                    <% @meal_categories.each do |category| %>
                    <tr class="tablebd todostds">
                        <td><%= category.name %> </td>
                        <% number =0%>
                        <% category.meals.each do |bla| %>
                            <% number +=1 %>
                        <% end %>
                        <td> <%= number %></td>
                        <td> <%= category.created_at.strftime("%d/%m/%Y") %></td>
                        <td class="editbuttom"><%= link_to  "editar", edit_meal_category_path(category) %></td>
                        <td class="excluirbuttom"><%= link_to 'excluir', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
        </table>
</div>
<div class="margin_left">
    <div class="butoes">
        <div class="loginLink butoes">
            <%= link_to "Nova categoria de refeição",  new_meal_category_path, class:'submitButtom justifybut', style:"text-decoration: none;"%>
            <br><br><br>
        </div>
    </div>
</div>

<div class="footer">
    <div class="direitosReservados">dinnerdash | todos os direitos reservados</div>
    <div class="creditosAutor">desenvolvido por Trainee</div>
</div>
