<%= render '/layouts/nav' %>

<div class="container backoffice_title">
    <h1 class="container-fluid text-secondary h5">Editar pedido</h1>
    <hr>
</div>

<div class="container">
    <% options = ["entregue","pendente","cancelado"] %>
    <%= form_tag( order_path(@order), method: :put, class:"d-flex flex-column") do %>
        <%= select_tag(:status, options_for_select(options), class: "form-control backoffice_input") %>
        <br>
        <div class="d-flex flex-row">
            <%= submit_tag("Adicionar", class:"button_form") %>
         <%= link_to 'Back', orders_path, class: " btn btn-secondary" %>
        </div>
    <% end %>
</div>

<div class="d-flex fixed-bottom bottom_navbar bg-light">
    <p class="text-dark mr-auto">dinnerdash | todos os direitos reservados</p>
    <p class="text-dark">desenvolvido por Antônio H.</p>
</div>

