<%= render  "layouts/nav" %>
<div class="tabela">
  <table class="tableex">
          <thead>
              <tr class="tablehd">
                  <th>Pedido de nº</th>
                  <th>Status</th>
                  <th>Data</th>
                  <th>Usuário</th>
                  <th>Preço Total</th>
                  <th>Detalhes</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="dadosformat">
              <% @orders.each do |item|%>
                  <tr class="tablebd todostds">
                      <td><%= item.id %></td>
                      <% if item.status == 'pendente' %>
                          <td class="alinharcentro"><div><span class="pedidopendente">pendente</span></div> </td>
                      <% end %>
                      <% if item.status == 'cancelado' %>
                          <td class="alinharcentro"><span class="pedidocancelado">cancelado</span> </td>
                      <% end %>
                      <% if item.status == 'entregue' %>
                          <td class="alinharcentro"><span class="pedidoentregue">entregue</span> </td>
                      <% end %>
                      <td><%= item.created_at %></td>
                      <td><%= @users.find(item.user_id).name %> </td>
                      <td>R$ <%= item.price %></td>
                      <td> <%= link_to  "ver itens pedidos", order_path(item) %></td>
                      <td class="editbuttom"><%= link_to  "editar", edit_order_path(item) %></td>
                      <td class="excluirbuttom"><%= link_to 'excluir', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
              <%end%>
          </tbody>
  </table>
</div>
<div class="footer">
    <div class="direitosReservados">dinnerdash | todos os direitos reservados</div>
    <div class="creditosAutor">desenvolvido por Trainee</div>
</div>