<p id="notice"><%= notice %></p>

<%= render  "layouts/nav" %>

<div class="tabela">
  <table class="tableex">
  <thead>
    <tr class="tablehd">
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Available</th>
      <th>Meal category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
    <tbody class="dadosformat">
      <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td><%= meal.description %></td>
        <td><%= meal.price %></td>
        <td><%= meal.available %></td>
        <td><%= meal.meal_category_id %></td>
        <td class="editbuttom"><%= link_to 'Editar', edit_meal_path(meal) %></td>
        <td class="excluirbuttom"><%= link_to 'Excluir', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<div class="margin_left">
    <div class="butoes">
        <div class="loginLink butoes">
          <%= link_to "Nova refeição",  new_meal_path, class:'submitButtom justifybut', style:"text-decoration: none;"%>
          <br><br><br>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>