 <div class="containerA">
    <div class="darker">
        <div class="top_navbar container d-flex">
            <div class="mr-auto p-2"><a class="text-light font-weight-bold logo" href="#">Dinnerdash</a></div>
            <% if user_signed_in? %>
                <%if current_user.admin == true %>
                    <div class="p-2"><%= link_to  "backoffice", orders_path , class:"text-warning current font-weight-bold"%></div>
                <%end%>
                <div class="p-2"><%= link_to  "Perfil", edit_user_registration_path, class:"text-light font-weight-bold"  %> </div>
                <div class="p-2"><%= link_to  "Sair", destroy_user_session_path, method: :delete,class:"text-light font-weight-bold" %></div>
            <% else %>
            <div class="headerText"><%= link_to "Entrar", new_user_session_path , class:"sessionHeader" %><%= link_to  "cadastro", new_user_registration_path, class:"sessionHeader" %></div>
            <%end%>
        </div>
        <div class="pageTitle">
            <div id="Backoff">Backoffice</div>
            <h2>Gerencie pedidos, refeições e mais.</h2>

        </div>
    </div>
</div>
<div class="optionBar">
  <div class="marginBar">
    <%= link_to "Pedidos", orders_path %>
    <a class="optionBarLinks"href="">Usuários</a>
    <%= link_to "Refeições", meals_path %>
    <%= link_to  "Categorias de refeição", meal_categories_path %>
  </div>
</div>