<div class="tcontainer_backoffice">
    <div class="top_navbar container d-flex">
        <div class="mr-auto p-2"><%= link_to "Dinnerdash", root_path , class:"text-light font-weight-bold logo"%></div>
        <% if user_signed_in? %>
            <%if current_user.admin == true %>
                <div class="p-2"><%= link_to  "backoffice", orders_path , class:"text-warning current font-weight-bold"%></div>
            <%end%>
            <div class="p-2"><%= link_to  "Perfil", edit_user_registration_path, class:"text-light font-weight-bold"  %> </div>
            <div class="p-2"><%= link_to  "Sair", destroy_user_session_path, method: :delete,class:"text-light font-weight-bold" %></div>
        <% else %>
        <div class="headerText"><%= link_to "Entrar", new_user_session_path , class:"sessionHeader" %><%= link_to  "cadastro", new_user_registration_path, class:"sessionHeader" %></div>
        <%end%>
    </div>

    <div class="container top_text">
        <h1 class="text-light"> backoffice</h1>
        <p class="text-light">Gerencie pedidos, refeições e mais.</p>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <%= link_to "Pedidos", orders_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "Usuários", control_users_index_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Refeições", meals_path, class:"nav-link" %> 
        </li>
        <li class="nav-item">
            <%= link_to  "Categorias de refeição", meal_categories_path, class:"nav-link" %>
        </li>
    </ul>  
</nav>